.palavras {width: 40%;}

#caos, #prometheus, #pandora, #gaia ,#tupa, #jaci, #exu, #takuapu, #erinas1, #erinas2 {width: 250px;}
#urano-sendo-castrado{ width: 90%;}
#cronos-a-lanchar {width: 300px;}

#fig1, #fig2, #fig3, #fig4, #fig5, #fig6, #fig7 {
    display: flex;

    flex-flow: row wrap;

    justify-content: space-evenly;

    margin: 5px 0;

    gap: 5px;
}

#venus, #mano {width: 100%;}
#piramides {width: 60vw;}


#img1, #img2, #img3, #img4 {width: 100%;}