:root {
    --fonte-titulo: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --fonte-paragrafo: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    --cor1: #212121;
    --cor2: #2e2e2e;
    --cor3: #3d3d3d;
    --cor4: hsl(0, 0%, 28%);
    --cor5: hsl(0, 0%, 32%);
    --cor6: hsl(0, 0%, 37%);
    --cor7: hsl(0, 0%, 42%);
    --cor8: hsl(0, 0%, 47%);
    --cor9: hsl(0, 0%, 51%);
    --cor10: hsl(0, 0%, 55%);
}

body {background-color: var(--cor4);}

header {
    display: flex;

    flex-flow: column wrap;

    justify-content: center;

    align-items: center;

    background-color: var(--cor1);

    padding: 10px 0;

    border-radius: 0 0 8px 8px;

    box-shadow: 0 0 5px 0px hsl(0, 0%, 10%);
}

header img {width: 100px;}

header h1 {
    font-family: var(--fonte-titulo);

    text-align: center;

    color: white;

    padding: 8px 0;
}

header ul {list-style: none;}

header ul li {margin: 4px;}

header a {
    text-decoration: none;

    color: white;

    background-color: var(--cor3);

    padding: 5px;

    border-radius: 8px 2px;

    box-shadow: 1px 1px 0 .8px white;

    font-family: var(--fonte-paragrafo);
}

header a:hover {text-decoration: underline;}

main {
    margin: 0 auto;

    color: white;

    background-color: var(--cor3);

    border-radius: 0 0 10px 10px;

    box-shadow: 0 1px 3px 0px hsl(0, 0%, 20%);

    width: 85%;
}

main article {
    display: flex;

    flex-flow: row wrap;

    justify-content: center;
}

main p {
    font-family: var(--fonte-paragrafo);
    font-size: 1.4em;

    text-align: center;

    padding-top: 9px;
}

main article section {
    width: 300px;

    border-radius: 4%;

    margin: 1%;

    background-color: var(--cor2);

    box-shadow: 0 0 4px hsl(0, 0%, 10%);
}

main section h2 {
    font-family: var(--fonte-titulo);
    font-size: 1.3em;

    text-align: center;

    padding: 5px 0;

    background-color: var(--cor1);

    border-radius: 10px 10px 0 0;
}

main section img {
    width: 100%;

    padding: 4px 10px 0px;

    border-radius: 50%;
}

main section ul {
    font-family: var(--fonte-paragrafo);

    padding: 20px 20px;

    background-color: var(--cor1);
}

main section ul .hide {color: var(--cor1);}

main section ul li {margin: 8px 0 0 0;}

main section ul a {
    color: white;

    text-decoration: none;

    background-color: var(--cor3);

    padding: 1px;

    border-radius: 5px 0;

    box-shadow: .8px .8px 0 1px white;
}

main section ul a:hover {text-decoration: underline;}

main section #centro{
    border-radius: 0;

    list-style-type: none;

    display: flex;

    justify-content: center;
    align-items: center;

    padding: 10px 0;
}

main section #centro a {
    padding: 0;

    text-decoration: none;

    color: white;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main section #centro a:hover {text-decoration: underline;}

main section #centro img {
    border-radius: 0;

    width: 13%;

    padding: 0 1px 0 10px;
}

footer {width: 100%; height: 12px;}