.palavras {width: 40%;}

#caos, #prometheus, #pandora, #gaia ,#tupa, #jaci, #exu, #takuapu, #cronos-a-lanchar {width: 250px;}
#urano-sendo-castrado{ width: 90%;}

#img1, #img2, #img3, #img4, #erinas1 ,#venus, #mano {width: 100%;}

#fig1, #fig2, #fig3, #fig4, #fig5, #fig6, #fig7 {
    display: flex;

    flex-flow: row wrap;

    justify-content: space-evenly;

    padding: 0 5px;
    margin: 0 5px;

    gap: 5px;
}

#piramides {width: 60vw;}